data/carbosense-curated/CarboSense-October2017_curated.csv filter=lfs diff=lfs merge=lfs -text
data/carbosense/CarboSense-October2017_curated.csv filter=lfs diff=lfs merge=lfs -text
data/gutenberg-metadata/gutenberg_metadata.json filter=lfs diff=lfs merge=lfs -text
